<div class="container">
  <form class="p-3">
    <label for="name" class="form-label">Name</label>
    <input aria-label="input" class="form-control" id="name" name="name" type="text" [(ngModel)]="name" />
    <app-input-atom idName="lastName" name="Sur Name" placeholder="Last Name">
    </app-input-atom>
  </form>
  <span>
    <p class="ps-2">Name: {{name}}</p>
    <button class="btn btn-warning mt-1 ms-2" [disabled]="name === ''" (click)="name = ''">Reset Name</button>
  </span>
  <div class="row">
    <span class="mt-1 ms-2">
      <button class="btn btn-primary" (click)="AddClick()">Click Me!</button>
      <p class="pt-1 ps-2">{{ numOfClicks }}</p>
    </span>
  </div>
  <hr>
  <app-checkout></app-checkout>
  <app-checkout name="Not Checkout"></app-checkout>
  <app-checkout [name]="name"></app-checkout>
  <hr>
  <div class="mt-3">
    <app-form></app-form>
  </div>
</div>


<router-outlet></router-outlet>