input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

form div.form-group label,
.form-title  {
  font-weight: bold;
}

.help-block {
  color: red;
}
