<div class="container">
  <app-checkout name="User Data"></app-checkout>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped" id="usersTable">
      <thead>
        <tr class="table-dark" id="usersTableHeader">
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody class="usersTableBody">
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>
            <span *ngIf="user.age; else noAge">{{user.age}}</span>
            <ng-template #noAge>
              <span>N/A</span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="table-reponsive">
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of apiUsers | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total }">
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>
